  <%- include('partials/header'); -%>

  <form class="form" action="articleInput" method="post">
      <input class="input" type="image" name="image" placeholder="image" value="">
      <input class="input" type="text" name="title" placeholder="title" value="">
      <input class="input" type="text" name="discription" placeholder="discription" value="">
      <button type="submit" name="content-submit">submit</button>
  </form>


  <%- include('partials/footer'); -%>
