  <%- include('partials/header'); -%>
    <div class='nav'>
      <h3 class="logo">WRANGLE</h3>
      <p>by Ethan Williams</p>
    </div>
    <div class="container">
      <div class="hero-text">
        <h2>Creativity Starts When You...</h2>
        <h1>Wrangle With <b>Concepts</b></h1>
      </div>
    </div>

    <div class="site-links container">
      <div class="site-paths">
        <ul>
          <li><a href="/showcase">Builds</a></li>
          <li>UI kits</li>
          <li>Robotics</li>
        </ul>
    </div>

    <div class="off-site-links container">
      <ul>
        <li><img src="assets\dribbble 1.png" alt="">DRIBBLE</li>
        <li><img src="assets\Group.png" alt="">INSTAGRAM</li>
        <li><img src="assets\twitter 1.png" alt="">TWITTER</li>
        <li><img src="assets\github-image 1.png" alt="">GITHUB</li>
      </ul>
    </div>


<%- include('partials/footer'); -%>
