  <%- include('partials/header'); -%>
    <nav>
      <h3 class="logo">WRANGLE</h3>
      <p>by Ethan Williams</p>
    </nav>
    <div class="container">
      <div class="hero-text">
        <h2>Creativity Starts When You...</h2>
        <h1>Wrangle With <b>Concepts</b></h1>
      </div>
    </div>

      <div class="showcase-links cotainer">
        <div class="site-paths">
          <ul>
            <li>Builds</li>
            <li>UI kits</li>
            <li>Robotics</li>
          </ul>
      </div>

      <div class="off-site-links container">
        <ul>
          <li>DRIBBLE</li>
          <li>INSTAGRAM</li>
          <li>TWITTER</li>
          <li>GITHUB</li>
        </ul>
      </div>
<%- include('partials/footer'); -%>
