  <%- include('partials/header'); -%>

  <div class="title container">
    <div class="titles">
      <h4>Creativity Starts When You</h4>
      <h3>wrangle with <b>Concepts</b></h3>
    </div>
  </div>

  <div class="nav container ">
    <ul>
      <li>Automation</li>
      <li>Design</li>
      <li>Concepts</li>
    </ul>
  </div>

s
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <img class="card-img-top" src="assets\image_processing20200728-2217-1sola0e.png" alt="Card image cap">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <img class="card-img-top" src="assets\image_processing20200728-2217-1sola0e.png" alt="Card image cap">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <img class="card-img-top" src="assets\image_processing20200728-2217-1sola0e.png" alt="Card image cap">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <%- include('partials/footer'); -%>
